<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="src/scriptjs/index.js"></script>
    <script src="src/scriptjs/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/indexpc.css">
    <link rel="stylesheet" href="/css/indextel.css">
    <link rel="stylesheet" href="/css/indextab.css">
    <link rel="icon" href="/images/wowv2.png">
    <title>AdminPage - Epid Cavalry</title>
</head>
<body>
    <%- include('header_admin.ejs') %>

    <div class="page">
        
        <!-- Users Handler -->
        <div class="table-data">
            <h1> Welcome Master</h1>
            <h2> Users data</h2>
            <table border="1", class="bording_tableau">
                <tr>
                    <th>Identity</th>
                    <th>Email Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                
                <%
                if(userData.length!=0){
                    var i=1;
                    userData.forEach(function(data)
                    {
                %>
                <tr>
                    <td><%=data.identity %></td>
                    <td><%=data.address %></td>
                    <td><a href="/edit_firm/<%=data.idcompanies%>">Edit</a></td>
                    <td><a href="/delete_firm/<%=data.idcompanies%>">Delete</a></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
            </table>
            <table border="1", class="bording_tableau">
                <td><a href="/insert_companies">Add a new firm</a></td>
            </table>

            
        </div>    
    </div>

    <%- include('footer.ejs') %>
</body>
</html>